.content{
    margin: 20px 28px 10px 28px;
    ion-input {
        border: 1px solid #00C6FF;
        border-radius: 10px;
        margin-bottom: 7px;
        height: 38px;
        box-shadow: 0 0 5px -1px #00C6FF;
        font-family: LatoMedium;
        font-size: 12px;
    }
    ion-button{
        margin-top: 15px;
        font-family: LatoBlack;
        text-transform: none;
        --border-radius: 10px;
        height: 40px;
    }
}