<div class="content">
  
  <ion-input placeholder="Address Name"></ion-input>
  <ion-input placeholder="Neighborhood"></ion-input>
  <ion-input placeholder="Street"></ion-input>
  <ion-input placeholder="House / Building"></ion-input>
  <ion-input placeholder="Apartment"></ion-input>
  <ion-input placeholder="Floor"></ion-input>
  <ion-input placeholder="Mobile Number"></ion-input>
  <ion-input placeholder="Additional Direction"></ion-input>

  
  <div class="btn">
    <ion-button expand="block" color="tertiary">
      Save Address
    </ion-button>
  </div>

</div>