.border{
    background-color: #BABABC;
    border-radius: 15px;
    display: inline-block;
    margin: auto;
    min-width: 102px;
    text-align: center;
    margin-right: 8px;
    font-family: LatoBold;
    font-size: 14px;
    padding: 8px;
    color: white;
}
.active{
    background-color: #00C6FF !important;
}

.titre{
    font-weight: bold; 
    font-size:25px;
    padding-bottom: 8px;
    border-bottom: 1px solid #7070707a ;
}
.collect{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}
.store{
    color: #aaaaaa;
    font-family: LatoMedium;
}
.address{
    h3{
        font-family: LatoBold;
    }
    div{
        font-family: LatoMedium;
        color: #7E7E7F;
        font-size: 12px;
    }
}
.discount{
    ion-input{
        font-family: LatoMedium;
    }
    ion-button{
        font-family: LatoBlack;
        text-transform: none;
        --border-radius: 10px;
        width: 90px;
        --background: #2AC4FF !important ;
    }
}

ion-tabs{
    height: 80px;
    position: relative;
    ion-tab-bar{
        height: 80px;
        ion-button{
            width: 80%;
            font-family: LatoBlack;
            text-transform: none;
            --border-radius: 10px;    
        }
  }
}
.thnks{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    div{
        font-family: LatoBlack;
        font-size: 16px;
        color: #7D7D7E;
    }
}