<ion-content class="">
  <ion-grid *ngIf="thanks == 0">

    <ion-row class="ion-margin-horizontal">
      <ion-col [routerLink]="['/tabs/user-info']" size="1">
        <ion-icon color="primary" name="caret-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">

      <ion-col>
        <div class="titre"> Check Out </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">
      <ion-col>
        <small class="store">Store Name</small>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">
      <h2> Collect Date </h2>
    </ion-row>
    <ion-row>
      <ion-col class="collect">
        <h5 class="border active">Sunday
          <br>
          13/11/2020
          <br>
          12:45 PM
        </h5>
        <h5 class="border">monday
          <br>
          14/11/2020
          <br>
          1:45 PM
        </h5>
        <h5 class="border">Wednesday
          <br>
          16/11/2020
          <br>
          10:45 PM
        </h5>
        <h5 class="border">Friday
          <br>
          18/11/2020
          <br>
          12:45 PM
        </h5>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-horizontal">
      <ion-col class="address">
        <hr style="background-color: #B6B6B7;">
        <h3>Address</h3>
        <div>Address details, street name, building number,
          apartment number, floor, mobile number </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="discount">
          <ion-input placeholder="Enter Discount Code"></ion-input>
          <ion-button> Redeem </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="thnks" *ngIf="thanks == 1">
    <img src="assets/icon/ty.png">
    <div>
      Thank You!
    </div>
    <div> Thank You!
      Your Order Placed Successfully </div>
  </div>


  <div class="thnks" *ngIf="thanks == 2">
    <img src="assets/icon/car1.png">
    <div>
      Thank You Again!
    </div>
    <div>
      Your Order On It’s Way </div>
  </div>
</ion-content>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-button color="tertiary" (click)="presentModal('new')"> Check Out </ion-button>
  </ion-tab-bar>

</ion-tabs>