ion-content{
    ion-grid{
        ion-row{
            ion-col{
                .titre{
                    font-weight: bold; 
                    font-size:25px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #7070707a ;
                }
                ion-button{
                    --border-radius: 10px;
                    text-transform: none;
                }
            }
        }
    }
}
h4{
    margin:0px;
    margin-left: 1%;
}
.right{
    float: right;
}
ion-input{
    border-bottom: 2px solid #e4dbdb;
}

h5{
    margin-left: 2%;
}
.div{
    font-size: 12px;
    color:#b0aeae;
    font-weight: bold;
}
