<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="['/tabs/user-info']" size="1">
        <ion-icon color="primary" name="caret-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="titre"> Edit User Info </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>First Name</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="User first name"></ion-input>
      </ion-col>
    </ion-row>
      <ion-row>
      <ion-col>
        <h5>Last Name</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="User Last name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Email Address</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="xxxxxx@gmail.com"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Mobile Number</h5>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 10%;">
      <ion-col>
        <ion-input placeholder="User mobile number"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="tertiary" >Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>