ion-icon{
    font-size: 16px;
}
ion-item{
    width: 100%;
}
ion-list{
    width: 100%;
}
ion-content{
    --ion-background-color: #FAFAFC;
    ion-grid{
        ion-row{
            ion-col{
                .titre{
                    font-weight: bold; 
                    font-size:25px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #7070707a ;
                }
                ion-list{
                    ion-item{
                        .info{
                            font-family: LatoBold;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}