<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="titre" > Profile </div>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col>
        <ion-list>
          <ion-item lines="none"  [routerLink]="['/tabs/user-info']">
            <ion-label class="info" >User Info</ion-label>
          </ion-item>
          <ion-item lines="none" >
            <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
            <ion-label>User mobile number</ion-label>
          </ion-item>

          <ion-item lines="none" >
            <ion-label>User mobile number</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Account Details</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item lines="none" >
            <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
            <ion-label>My addresses</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
            <ion-label>Refer a friend</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Payment Details</h4>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/payment-details']">
      <ion-col>
        <ion-list>
          <ion-item lines="none" >
            <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
            <ion-label>Change credit card info</ion-label>
          </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Settings</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <h6 style="margin-top: 0px;">languages</h6>
      </ion-col>
      <ion-col size="7">
        <div style="float: right; color: #ab8f8f;">
          English
        </div>
      </ion-col>
      <ion-col>
        <ion-icon style="height: 25px;" color="primary" name="caret-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <h6 style="margin-top: 0px;">Country</h6>
      </ion-col>
      <ion-col size="7">
        <div style="float: right; color: #ab8f8f;">
          Saudi Arabia
        </div>
      </ion-col>
      <ion-col>
        <ion-icon style="height: 25px;" color="primary" name="caret-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>About Aamerni</h4>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-list>
            <ion-item lines="none" >
              <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
              <ion-label>About us</ion-label>
            </ion-item>
            <ion-item lines="none" >
              <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
              <ion-label>Contact us</ion-label>
            </ion-item>
            <ion-item lines="none" >
              <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
              <ion-label>Our message</ion-label>
            </ion-item>
            <ion-item lines="none" >
              <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-item>
            <ion-item lines="none" >
              <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-item>
            <ion-item lines="none" >
              <ion-icon color="primary" slot="end" name="caret-forward-outline"></ion-icon>
              <ion-label>Twitter</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>