<div class="modal">
  <div class="detail">
    <h2> Order Details </h2>
    <hr>
    <div>
      <ion-label> Order Number </ion-label>
      <div> #9885e </div>
    </div>
    <div>
      <ion-label> Collection Date </ion-label>
      <div> 00/00/0000 </div>
    </div>
    <div>
      <ion-label> Collection Time </ion-label>
      <div> 00:00 PM </div>
    </div>
    <hr>
    <small> You’ll receive an SMS when your order is ready
      to choose your suitable delivery time </small>
  </div>

  <ion-button (click)="selectUser()" class="btn" expand="block" color="light">
    Refer a Friend
  </ion-button> 

  <ion-button class="btn"  expand="block" color="light">
    Done
  </ion-button> 
</div>