ion-content{
    ion-grid{
        ion-row{
            ion-col{
                .search{
                    display: flex;
                    background: #00000015;
                    border-radius: 10px;
                    height: 42px;

                    input{
                        border: none;
                        background: #eaeaea;
                        width: 85%;
                    }
                    img{
                        height: 20px;
                        margin: 5px;
                        margin-top: 11px;
                        margin-left: 11px;
                    }
                }
                h2{
                    font-family: LatoBlack;
                    margin-left: 15px;
                    margin-bottom: 0px;
                }
                .city{
                    margin: 5px 0px;
                    border: solid 0.08em #00C6FF;
                    border-radius: 8px;
                    box-shadow: 0 0 5px -3px #00C6FF;
                    ion-label{
                        color: #ab8f8f;
                        font-family: LatoMedium ;
                    }
                }
            }
        }
    }
}
ion-tabs{
    height: 80px;
    position: relative;
    ion-tab-bar{
        height: 80px;
        img{
            height: 50px;
      
}
  }
}
.click{
    --ion-background-color: linear-gradient(to right, #1CC5FF  , #126EFF);
    font-family: LatoBlack !important;
    color: white;
    font-size: LatoBlack;
}
.label{
    color: white !important;
    font-family: LatoBlack !important;
}
.content{
    display: none ;
    ion-item{
        font-family: LatoMedium;
    }
}
.dele{
    color: #ab8f8f;

}
