<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="ion-margin search">
          <img src="/assets/icon/search.png">
          <input type="text" placeholder="Search Areas">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-margin-start">
        <h2> Select City </h2>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of city">
      <ion-col class="ion-margin-horizontal ion-no-padding">
        <ion-item class="city ion-no-margin" lines="none" (click)="onClick(item.id)" id={{item.id}}>
          <ion-label id="label{{item.id}}"> {{item.nom}} </ion-label>
          <ion-icon style="color: white;" name="caret-down-outline"></ion-icon>
        </ion-item>
        <div class="content" id="del{{item.id}}">
          <ion-item id="city{{item.id}}" (click)="choose(item.id)" class="dele" *ngFor="let item of delegation">
           <ion-label> {{item.nom}} </ion-label> 
           <img id="check{{item.id}}" style="display: none;" src="/assets/icon/Path 15.png">
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <img src="{{selected}}" (click)="Done()" >
  </ion-tab-bar>

</ion-tabs>