ion-content{
    ion-grid{
        ion-row{
            ion-col{
                padding: 0px;
                div{
                    .back{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .smll{
                font-family: LatoMedium;
                color: #757575;
                font-size: 12px;
                line-height: 1;
                margin: 0;
            }
            .collec{
                font-family: LatoBold;
            }
            .head{
                ion-item {
                    --padding-start: 0;
                    --padding-end: 0;
                    --inner-padding-end: 0px;
                    margin-top: -7px;
                    border-bottom: 1px solid #7070707a ;
                    ion-label{
                        font-size: 22px;
                        font-family: LatoBlack;
                    }
                    img{
                        height: 20px;
                    }
                }
            }
            .detail{
                padding: 8px;
                padding-bottom: 12px;
                border-bottom: 1px solid #7070707a ;
                div{
                    font-family: LatoMedium;
                    color: #7D7D7E;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .total{
                div{
                    display: flex;
                    justify-content: space-between;
                    font-family: LatoBlack;
                    font-size: 14px;
                }
                small{
                    font-family: LatoMedium;
                    font-size: 9px;
                }
            }
        }
        .option{
            padding-bottom: 17px;
            border-bottom: 1px solid #7070707c;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            ion-col{
                div{
                    font-family: LatoBold;
                }
                ion-button{
                    text-transform: none;
                    --background: #00C6FF;
                    --border-radius: 10px;
                    height: 60px;
                    width: 90%;
                    div{
                        font-family: LatoBold;
                        small{
                            font-family: LatoMedium;
                            font-size: 4px;
                        }
                    }
                }
            }
        }
    }
}


.card{
    margin-top: 30px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid  #7070707a; 
}
.name{
    font-size: 14px;
    margin-top: 5px;
}
.details{
    font-size: 13px;
    font-family: LatoMedium;
    color: #ab8f8f;
    margin: 0px;
}
.margin{
    margin-top: 38px;
}
.div{
    display: flex;
    justify-content: space-between;
    p{
        font-size: 13px;
        font-family: LatoMedium;
        color: #ab8f8f;

    }
}
ion-row{
    margin-top: 5%;
    margin-bottom: 8px;
}

.progress{
    div{
        height: 6px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .circel{
            border-radius: 50%;
            height: 18px;
            width: 18px;
            background: #BFBFBF;
        }
        .active{
            background: #2AC4FF !important;
        }
    }
    .line{
        border-radius: 15px;
        background: linear-gradient(90deg, #2AC4FF 50%, #BFBFBF 50%);
        width: 100%;
        height: 7px;
        margin-bottom: 25px;
    }
}