<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="head">
        <div [routerLink]="['/tabs/tab2']" size="2">
          <ion-icon class="back" color="primary" name="caret-back-outline"></ion-icon>
        </div>
        <ion-item lines="none">
          <img slot="end" src="assets/icon/headset.png">
          <ion-label>
            Orders
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row [routerLink]="['/tabs/orders']" class="card">
      <ion-col size="4">
        <img src="assets/icon/bg.png">
      </ion-col>
      <ion-col size="5">
        <p class="name"> Store Name </p>
        <p class="details"> Details of the store </p>
        <p class="details"> Details of the store </p>
      </ion-col>
      <ion-col size="3">
        <div class="right margin">
          <p class="details"> #9885e </p>
          <p class="details"> 00/00/0000</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="div">
          <p>Order</p>
          <p>Collection</p>
          <p>Confirm</p>
          <p>Ready</p>
          <p>Delivery</p>
        </div>
        <div class="progress">
          <div>
            <div class="circel active"></div>
            <div class="circel active"></div>
            <div class="circel active"></div>
            <div class="circel"></div>
            <div class="circel"></div>
          </div>

          <div class="line"> </div>


        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label class="collec"> Collection And Delivery Details </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="smll"> Address details, street name, building number,
          apartment number, floor, mobile number </p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center option">

      <ion-col>
        <div> Collection </div>
        <br>
        <ion-button style="font-size: 13px;">
          Sunday
          <br>
          13/11/2020
          <br>
          13:45 PM
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <div> Delivery </div>
        <br>
        <ion-button>
          <div> Not Set Yet
            <br>
            <small>
              You’ll receive an SMS when your order
              <br>
              is ready to choose delivery time
            </small>

          </div>
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="detail">
        <div>
          <ion-label> Subtotal </ion-label>
          <div slot="end"> SR 00 </div>
        </div>
        <div>
          <ion-label> Delivery Fee </ion-label>
          <div> SR 00 </div>
        </div>
        <div>
          <ion-label> VAT </ion-label>
          <div> SR 00 </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="total">
        <div>
          <ion-label>
            Total Amount
          </ion-label>
          <div>
            SR 00
          </div>
        </div>
        <small>
          Minimum order price
        </small>
        
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>