ion-content{
    ion-grid{
        ion-row{
            ion-col{
            }
            .head{
                margin-top: 8px;
                ion-item {
                    --padding-start: 0;
                    --padding-end: 0;
                    --inner-padding-end: 0px;
                    margin-top: -7px;
                    ion-label{
                        font-size: 20px;
                        font-family: LatoBlack;
                    }
                    img{
                        height: 20px;
                    }
                }
            }
        }
    }
}
ion-tabs{
    height: 80px;
    position: relative;
    ion-tab-bar{
        height: 80px;
        ion-button{
            width: 80%;
            font-family: LatoBlack;
            text-transform: none;
            --border-radius: 10px;    
        }
  }
}
#map_canvas {
    height: 73%;
    width: 100%;
  }
