

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="head">
        <div [routerLink]="['/tabs/tab2']" size="2">
          <ion-icon class="back" color="primary" name="caret-back-outline"></ion-icon>
        </div>
        <ion-item lines="none">
          <img slot="end" src="assets/icon/searchc.png">
          <ion-label>
            Slect Your Location
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div  id="map_canvas"></div>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-button color="tertiary" (click)="presentModal()" > Confirme Location</ion-button>
  </ion-tab-bar>

</ion-tabs>