<ion-content>
  <ion-grid>
    <div class="main">
      <ion-row>
        <ion-col>
          <center>
            <img src="../../assets/icon/car1.png" class="img">
          </center>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <center>
          <h3 style="text-align: center; color: #aaaaaa;">Thank You Again!
          </h3>
          <h3 style="text-align: center; color: #aaaaaa;">Your Order On It’s Way
          </h3>
        </center>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>