ion-content{
    --ion-background-color: #FAFAFC;
    font-family: LatoBlack;
    ion-grid{
        ion-row{
            ion-col{
                .titre{
                    font-weight: bold; 
                    font-size:25px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #7070707a ;
                }
                .entet{
                    font-family: LatoMedium;
                    color: #ab8f8f;
                    font-size: 14px;
                    padding-bottom: 7px;
                }
                .select{
                    img{
                        padding-left: 10px;
                    }
                }
                .search{
                    display: flex;
                    background: #eaeaea;
                    border-radius: 10px;
                    height: 42px;
                    width: 83%;

                    input{
                        border: none;
                        background: #eaeaea;
                        width: 80%;
                        font-family: LatoMedium;
                    }
                    img{
                        height: 20px;
                        margin: 5px;
                        margin-top: 11px;
                        margin-left: 11px;
                    }
                }
                .setting{
                    display: flex;
                    div{
                        margin: auto;
                    }
                    .btn-st{
                        height: 42px;
                    }
                }
            }
        }
    }
}

.card{
    box-shadow: 0px 0px 21px -17px black;
    background: white ;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    border-bottom: 4px solid  #126EFF;
    .card-imag{
        width: 30%;
        margin: auto;
        padding-left: 5px;
    }
    .card-content{
        width: 55%;
        margin-left: 5px;
        .name{
            font-size: 14px;
            margin-bottom: 14px;
        }
        .details{
            font-size: 12px;
            font-family: LatoMedium;
            color: #ab8f8f;
            margin: 0px;
        }
        div{
            display: flex;
            justify-content: space-between;
            p{
                font-size: 10px;
                font-family: LatoMedium;
                color: #ab8f8f;

            }
        }
    }
    .card-note{
        width: 15%;
        ion-badge{
            
            display: flex;
            justify-content: space-between;
            img{
                height: 10px;
                padding-left: 2px;
            }
            span{
                font-size: 11px;
                font-family: LatoMedium;
            }
        }
    }
}