<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="titre"> Favorite </div>
      </ion-col>
    </ion-row>

    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>


    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>



    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>



    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>


    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>