<ion-content>
  <div class="main">
    <img src="../../assets/icon/map.png" class="img" />
    <br>
    <h3 style="text-align: center; color: #aaaaaa;">
      You Have No Saved Addresses
    </h3>
  </div>
</ion-content>



<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-button color="tertiary" [routerLink]="['/map']" routerLinkActive="router-link-active"> Add New Address
    </ion-button>
  </ion-tab-bar>

</ion-tabs>