.img{
    width: -webkit-fill-available;
}
.main{
    padding: 25px;
    height: 100%;
    margin-top: 30%;
}

ion-tabs{
    height: 80px;
    position: relative;
    ion-tab-bar{
        height: 80px;
        ion-button{
            width: 80%;
            font-family: LatoBlack;
            text-transform: none;
            --border-radius: 10px;    
        }
  }
}