<ion-content>
  <ion-grid>
    <ion-row class="ion-margin ion-padding">
      <ion-col>
        <h2 class="ion-text-center"> Log In To Aamerni </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label> Email Address </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="xxxxxxx@gmail.com"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label> Password</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-input class="password-input" id="password-input" [(ngModel)]="password" (ionChange)="mdp(0)"
            (mouseout)="mdp(1)" placeholder="........" type="password"></ion-input>
          <img src="/assets/icon/Icon-View.png">
        </ion-item>
        <p> (Minimum 8 characters) </p>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="login()" color="tertiary" expand="block" mode="ios"> Log in </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p> Forgot your password ? </p>
          <p class="reset"> Reset password </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p> Don’t have an account ? </p>
          <p class="reset"> Sign up </p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <h4> Log In With </h4>
        </div>
      </ion-col>
      <ion-col style="margin: auto;" >
        <div>
          <img src="/assets/icon/google.png">
          <img src="/assets/icon/twitter.png">
          <img src="/assets/icon/facebook.png">
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>