<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1" (click)="activ(1)" >
        <img src="{{tab1}}">
    </ion-tab-button>
    
    <ion-tab-button tab="tab2" (click)="activ(2)">
      <img src="{{tab2}}">
    </ion-tab-button>

    <ion-tab-button tab="tab3" (click)="activ(3)">
      <img src="{{tab3}}">
    </ion-tab-button>

    <ion-tab-button tab="tab4" (click)="activ(4)">
      <img src="{{tab4}}">
    </ion-tab-button>

    <ion-tab-button tab="tab5" (click)="activ(5)">
      <img src="{{tab5}}">
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>