<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col [routerLink]="['/tabs/user-info']" size="1">
        <ion-icon color="primary" name="caret-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="titre" > Change Password </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Current Password</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="User current password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>New Password</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input type="password" placeholder="User new password"></ion-input>
          <img slot="end" src="assets/icon/Icon-View.png">
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col class="details">
        (Minimum 8 characters)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="tertiary">Change</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>