p{
    color: #aaaaaa;
    font-size: 15px;
    margin: 0px;
    margin-left: 2%;
}
h4{
    margin:0px;
    margin-left: 1%;
}
.right{
    float: right;
}


h5{
    margin-left: 2%;
}
.div{
    font-size: 12px;
    color:#b0aeae;
    font-weight: bold;
}
.p{
    font-size: 15px;
    color: black;
}
.details{
    font-size: 13px;
    font-family: LatoMedium;
    color: #ab8f8f;
    margin: 0px;
}
ion-content{
    margin: 8px;
    ion-grid{
        ion-row{
            ion-col{
                .titre{
                    font-weight: bold; 
                    font-size:25px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #7070707a ;
                }
                ion-button{
                    margin-top: 15px;
                    font-family: LatoBlack;
                    text-transform: none;
                    --border-radius: 10px;
                    height: 40px;
                }
            }
        }
    }
}
ion-item{
    --padding-start: 0px;
    --inner-padding-start: 0px;
}