<div class="modal">
  <div class="line"> </div>
  <p class="titre"> {{titre}} </p>
  <div class="img-item">
    <img class="ion-text-center" src="assets/icon/thawb.png" alt="">
  </div>
  <div class="option">
    <div class="item">
      <div class="item1">
        <img src="assets/icon/item1.png" alt="">
        <p> Dry Clean </p>
      </div>
      <div class="item2">
        <small> SR 8 </small>
        <div class="quantity">
          <button class="btn minus1">-</button>
          <input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number">
          <button class="btn add1">+</button>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="item1">
        <img src="assets/icon/item2.png" alt="">
        <p> Dry Clean </p>
      </div>
      <div class="item2">
        <small> SR 8 </small>
        <div class="quantity">
          <button class="btn minus1">-</button>
          <input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number">
          <button class="btn add1">+</button>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="item1">
        <img src="assets/icon/item3.png" alt="">
        <p> Dry Clean </p>
      </div>
      <div class="item2">
        <small> SR 8 </small>
        <div class="quantity">
          <button class="btn minus1">-</button>
          <input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number">
          <button class="btn add1">+</button>
        </div>
      </div>
    </div>

  </div>

  <div class="btn">
    <ion-button expand="block" color="light">
      <div class="content" >
        <div>
          <img src="assets/icon/cart.png" alt="">
          <small> 1 </small>
          <div> SR 8 </div>
        </div>

        <ion-label>Add Item</ion-label>
      </div>

    </ion-button>
  </div>
</div>