.modal{
    background: linear-gradient( to right , #1CC5FF , #1693FF);
    width: 100%;
    height: 100%;
    padding-top: 8px;
    position: relative;
    .line{
        width: 30%;
        height: 6.5px;
        background: white;
        margin: auto;
        border-radius: 20px;
    }
    .titre{
        color: white;
        margin-top: 15px;
        text-align: center;
        font-size: 17px;
        font-family: LatoBold;
        margin-bottom: 5px;
    }
    .img-item{
        width: 100%;
        text-align: center;
        img{
            height: 120px;
            border-radius: 15px;
        }
    }
    .option{
        margin: 15px;
        .item{
            color: white;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid white;
            font-family: LatoMedium;
            .item1{
                display: flex;
                margin-left: 10px;
                img{
                    height: 20px;
                    margin: auto 7px;
                }
            }
            .item2{
                display: flex;
                margin-right: 10px;
                small{
                    margin: auto 15px;
                }
            }
            
        }
    }
    .btn{
        width: 80%;
        margin: auto;
        text-align: center;
        ion-button{
            margin-top: 30px;
            font-family: LatoBlack;
            text-transform: none;
            --border-radius: 10px;
            height: 40px;
            .content{
                width: 100%;
                display: flex;
                justify-content: space-between;
                ion-label{
                    margin: auto 0;
                }
                div{
                    color: #808080;
                    display: flex;
                    font-family: LatoMedium;
                    img{
                        height: 25px;
                    }
                    small{ 
                        margin: 10px 10px 0px -24px;
                        width: 19px;
                        color: #808080;
                    }
                    div{
                        margin: auto;
                    }
                }
            }
        }
    }
    
}

.quantity{
    display:flex;
    height: 20px;
    margin: auto;
 }
 
 /* it will support chrome and firefox */
 .quantity input[type=number]::-webkit-inner-spin-button,
 .quantity input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
 }
 .quantity input{
    pointer-events: none; 
 }
 
 .quantity input,.quantity button{
    width:30px;
    padding:.5em;
    font-size:10px;
    text-align:center;
    font-weight:900;
    background:white;
    color: #000;
    font-family: LatoMedium; 
 }
 .minus1{
    border-radius: 10px 0px 0 10px;
 }
 .add1{
    border-radius: 0px 10px 10px 0px;
 }
 
 .quantity input{
    border:none;
 }