<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item lines="none"  >
            <img  slot="end" src="assets/icon/headset.png">
            <ion-label>
              Orders
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/tabs/orders']" style="margin-top: 0px;" class="card">
      <ion-col size="4">
        <img src="assets/icon/bg.png">
      </ion-col>
      <ion-col size="5">
        <p class="name"> Store Name </p>
        <p class="details"> Details of the store </p>
        <p class="details"> Details of the store </p>
      </ion-col>
      <ion-col size="3">
        <div class="right margin">
          <p class="details"> #9885e </p>
          <p class="details"> 00/00/0000</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="div">
          <p>Order</p>
          <p>Collection</p>
          <p>Confirm</p>
          <p>Ready</p>
          <p>Delivery</p>
        </div>
        <div class="progress" >
          <div>
            <div class="circel active" ></div>
            <div class="circel active" ></div>
            <div class="circel active" ></div>
            <div class="circel" ></div>
            <div class="circel" ></div>
          </div>
          
          <div class="line" > </div>


        </div>
      </ion-col>
    </ion-row>


    <ion-row [routerLink]="['/tabs/orders']" style="margin-top: 0px;" class="card">
      <ion-col size="4">
        <img src="assets/icon/bg.png">
      </ion-col>
      <ion-col size="5">
        <p class="name"> Store Name </p>
        <p class="details"> Details of the store </p>
        <p class="details"> Details of the store </p>
      </ion-col>
      <ion-col size="3">
        <div class="right margin">
          <p class="details"> #9885e </p>
          <p class="details"> 00/00/0000</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="div">
          <p>Order</p>
          <p>Collection</p>
          <p>Confirm</p>
          <p>Ready</p>
          <p>Delivery</p>
        </div>
        <div class="progress" >
          <div>
            <div class="circel active" ></div>
            <div class="circel active" ></div>
            <div class="circel active" ></div>
            <div class="circel" ></div>
            <div class="circel" ></div>
          </div>
          
          <div class="line" > </div>


        </div>
      </ion-col>
    </ion-row>


    <ion-row [routerLink]="['/tabs/orders']" style="margin-top: 0px;" class="card">
      <ion-col size="4">
        <img src="assets/icon/bg.png">
      </ion-col>
      <ion-col size="5">
        <p class="name"> Store Name </p>
        <p class="details"> Details of the store </p>
        <p class="details"> Details of the store </p>
      </ion-col>
      <ion-col size="3">
        <div class="right margin">
          <p class="details"> #9885e </p>
          <p class="details"> 00/00/0000</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="div">
          <p>Order</p>
          <p>Collection</p>
          <p>Confirm</p>
          <p>Ready</p>
          <p>Delivery</p>
        </div>
        <div class="progress" >
          <div>
            <div class="circel active" ></div>
            <div class="circel active" ></div>
            <div class="circel active" ></div>
            <div class="circel" ></div>
            <div class="circel" ></div>
          </div>
          
          <div class="line" > </div>


        </div>
      </ion-col>
    </ion-row>


    <ion-row [routerLink]="['/tabs/orders']" style="margin-top: 0px;" class="card">
      <ion-col size="4">
        <img src="assets/icon/bg.png">
      </ion-col>
      <ion-col size="5">
        <p class="name"> Store Name </p>
        <p class="details"> Details of the store </p>
        <p class="details"> Details of the store </p>
      </ion-col>
      <ion-col size="3">
        <div class="right margin">
          <p class="details"> #9885e </p>
          <p class="details"> 00/00/0000</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="div">
          <p>Order</p>
          <p>Collection</p>
          <p>Confirm</p>
          <p>Ready</p>
          <p>Delivery</p>
        </div>
        <div class="progress" >
          <div>
            <div class="circel active" ></div>
            <div class="circel active" ></div>
            <div class="circel active" ></div>
            <div class="circel" ></div>
            <div class="circel" ></div>
          </div>
          
          <div class="line" > </div>


        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>