$progress: 50%;
ion-content{
    --ion-background-color: #FAFAFC;
}
ion-grid{
    width: 100%;
}
.right{
    float: right;
}
.card{
    box-shadow: 0px 0px 21px -17px black;
    background: white ;
    border-radius: 10px;
    width: 100%;
    display: flex;
    border-bottom: 4px solid  #126EFF; 
}
.name{
    font-size: 14px;
    margin-top: 5px;
}
.details{
    font-size: 13px;
    font-family: LatoMedium;
    color: #ab8f8f;
    margin: 0px;
}
.margin{
    margin-top: 38px;
}
.div{
    display: flex;
    justify-content: space-between;
    p{
        font-size: 13px;
        font-family: LatoMedium;
        color: #ab8f8f;

    }
}
ion-row{
    margin-top: 5%;
    margin-bottom: 8px;
}

.progress{
    div{
        height: 6px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .circel{
            border-radius: 50%;
            height: 18px;
            width: 18px;
            background: #BFBFBF;
        }
        .active{
            background: #2AC4FF !important;
        }
    }
    .line{
        border-radius: 15px;
        background: linear-gradient(90deg, #2AC4FF $progress, #BFBFBF 50%);
        width: 100%;
        height: 7px;
        margin-bottom: 10px;
    }
}
ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-end: 0px;

    border-bottom: 1px solid #7070707a ;
    ion-label{
        font-size: 22px;
        font-family: LatoBlack;
    }
    img{
        height: 20px;
    }
}