<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Delivering to</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <p class="entet ion-no-margin"> Delivering to </p>
        <div class="select"> Al Mazruayah <img src="assets/icon/select.png"> </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="setting">
          <div class="search ion-text-start">
            <img src="/assets/icon/search.png">
            <input type="text" placeholder="Search Areas">
          </div>
          <div class="ion-float-right">
            <img style="float: right;" class="btn-st" src="assets/icon/setting.png">
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>

    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>


    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>



    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>



    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>


    <ion-row  >
      <ion-col>
        <div class="card" >
          <div class="card-imag" > <img src="assets/icon/bg.png"> </div>
          <div class="card-content" > 
            <p class="name" > Store Name </p>
            <p class="details"> Details of the store </p>
            <div> <p> Min. SAR 0.00 </p> <p> Delivery. SAR 0.00 </p> </div>
          </div>
          <div class="card-note ion-margin" >
            <ion-badge mode="ios" slot="end" class="ion-float-right" > <small> 4.5 </small> <img src="assets/icon/Star.png"> </ion-badge>
          </div>
          

        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>