<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="titre"> Notice </div>
      </ion-col>
    </ion-row>
    <ion-row class="card">
      <ion-col size="4">
        <div class="card-imag"> <img src="assets/icon/bg.png"> </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <div class="card-content">
          <p class="name"> Store Name </p>
          <p class="details"> Details of the store </p>

        </div>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <div class="card-note ">
          <ion-badge mode="ios" class="ion-float-right"> <small> 4.5 </small> <img src="assets/icon/Star.png">
          </ion-badge>
        </div>
      </ion-col>
      <ion-col size="11" class="bottom">
        <div>
          <div class="details2"> offers and discounts from the store </div>
        </div>
      </ion-col>
    </ion-row>



    <ion-row class="card">
      <ion-col size="4">
        <div class="card-imag"> <img src="assets/icon/bg.png"> </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <div class="card-content">
          <p class="name"> Store Name </p>
          <p class="details"> Details of the store </p>

        </div>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <div class="card-note ">
          <ion-badge mode="ios" class="ion-float-right"> <small> 4.5 </small> <img src="assets/icon/Star.png">
          </ion-badge>
        </div>
      </ion-col>
      <ion-col size="11" class="bottom">
        <div>
          <div class="details2"> offers and discounts from the store </div>
        </div>
      </ion-col>
    </ion-row>



    <ion-row class="card">
      <ion-col size="4">
        <div class="card-imag"> <img src="assets/icon/bg.png"> </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <div class="card-content">
          <p class="name"> Store Name </p>
          <p class="details"> Details of the store </p>

        </div>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <div class="card-note ">
          <ion-badge mode="ios" class="ion-float-right"> <small> 4.5 </small> <img src="assets/icon/Star.png">
          </ion-badge>
        </div>
      </ion-col>
      <ion-col size="11" class="bottom">
        <div>
          <div class="details2"> offers and discounts from the store </div>
        </div>
      </ion-col>
    </ion-row>



    <ion-row class="card">
      <ion-col size="4">
        <div class="card-imag"> <img src="assets/icon/bg.png"> </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <div class="card-content">
          <p class="name"> Store Name </p>
          <p class="details"> Details of the store </p>

        </div>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <div class="card-note ">
          <ion-badge mode="ios" class="ion-float-right"> <small> 4.5 </small> <img src="assets/icon/Star.png">
          </ion-badge>
        </div>
      </ion-col>
      <ion-col size="11" class="bottom">
        <div>
          <div class="details2"> offers and discounts from the store </div>
        </div>
      </ion-col>
    </ion-row>



    <ion-row class="card">
      <ion-col size="4">
        <div class="card-imag"> <img src="assets/icon/bg.png"> </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <div class="card-content">
          <p class="name"> Store Name </p>
          <p class="details"> Details of the store </p>

        </div>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <div class="card-note ">
          <ion-badge mode="ios" class="ion-float-right"> <small> 4.5 </small> <img src="assets/icon/Star.png">
          </ion-badge>
        </div>
      </ion-col>
      <ion-col size="11" class="bottom">
        <div>
          <div class="details2"> offers and discounts from the store </div>
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="card">
      <ion-col size="4">
        <div class="card-imag"> <img src="assets/icon/bg.png"> </div>
      </ion-col>
      <ion-col class="ion-no-padding" size="6">
        <div class="card-content">
          <p class="name"> Store Name </p>
          <p class="details"> Details of the store </p>

        </div>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <div class="card-note ">
          <ion-badge mode="ios" class="ion-float-right"> <small> 4.5 </small> <img src="assets/icon/Star.png">
          </ion-badge>
        </div>
      </ion-col>
      <ion-col size="11" class="bottom">
        <div>
          <div class="details2"> offers and discounts from the store </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>