<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="['/store-details']" size="1">
        <ion-icon color="primary" name="caret-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Change Password</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
