.modal{
    background: linear-gradient( to right , #1CC5FF , #1693FF);
    width: 100%;
    height: 100%;
    padding-top: 8px;
    position: relative;
    padding: 20px;
    ion-card{
        font-family: LatoMedium;
        color: #000;
    }
    .form{
        color: white;
        ion-label{
            font-family: LatoBold;
            margin-left: 9px;
        }
        ion-input{
            font-family: LatoMedium;
            border-bottom: 1px solid #fff;
            --padding-start: 0px;
            margin-left: 9px;
            --placeholder-color: #fff;
            --placeholder-opacity: 1;
            margin-bottom: 15px;
        }
        .date{
            display: flex;
            .exp{
                width: 130%;
            }
            .cvv{
                margin-left: 30px;
            }
        }
    }
    .btn{
        margin-top: 15px;
        font-family: LatoBlack;
        text-transform: none;
        --border-radius: 10px;
        height: 40px;
    }
}