<div class="modal">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../assets/icon/Visa_Inc._logo.png" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5> 4 0 4 2 </h5>
        </ion-col>
        <ion-col>
          <h5> 3 5 3 6 </h5>
        </ion-col>
        <ion-col>
          <h5> 8 1 9 2 </h5>
        </ion-col>
        <ion-col>
          <h5> 8 9 9 0 </h5>
        </ion-col>
      </ion-row>
      <ion-row style="color: #9BA4A1; font-size: 11px;">
        <ion-col size="9">
          <div>CARD HOLDER</div>
        </ion-col>
        <ion-col>
          <div class="right">EXP DATE</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <div class="p">
            Card Holder Name
          </div>
        </ion-col>
        <ion-col>
          <div class="right p">
            DD/MM
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div class="form">
    <ion-label> Card Number </ion-label>
    <ion-input placeholder="Enter card number"> </ion-input>

    <ion-label> Card Holder </ion-label>
    <ion-input placeholder="Enter card holder name"> </ion-input>

    <div class="date">
      <div class="exp">
        <ion-label> Expiration Date </ion-label>
        <ion-input placeholder="DD/MM"> </ion-input>
      </div>

      <div class="cvv" >
        <ion-label> CVV </ion-label>
        <ion-input placeholder="Enter CVV"> </ion-input>
      </div>
    </div>

  </div>



  <ion-button (click)="selectUser()" class="btn" expand="block" color="light">
    Done
  </ion-button>
</div>