p{
    color: #aaaaaa;
    font-size: 15px;
    margin: 0px;
    margin-left: 2%;
}
h4{
    margin:0px;
    margin-left: 1%;
}
.right{
    float: right;
}
ion-input{
    border-bottom: 2px solid #e4dbdb;
}

h5{
    margin-left: 2%;
}
.div{
    font-size: 12px;
    color:#b0aeae;
    font-weight: bold;
}
.p{
    font-size: 15px;
    color: black;
}