<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col [routerLink]="['/tabs/tab5']" size="1">
        <ion-icon color="primary" name="caret-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/tabs/edit-user-info']">
      <ion-col>
        <h4>User Info</h4>
      </ion-col>
      <ion-col size="2">
        <div style="color: #aaaaaa; float: right; margin-right: 2%;">
          Edit
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>First Name</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>User first name</p>
      </ion-col>
    </ion-row>
      <ion-row>
        <ion-col>
          <hr style="background: #ab8f8f;">
        </ion-col>
      </ion-row>
      <ion-row>
      <ion-col>
        <h5>Last Name</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>User Last name</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Email Address</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>xxxxxx@gmail.com</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Mobile Number</h5>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 20%;">
      <ion-col>
        <p>User mobile number</p>
      </ion-col>
    </ion-row>
    <ion-row [routerLink]="['/tabs/change-password']">
      <ion-col>
        <h5>Change Password</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="background: #ab8f8f;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5>Sign Out</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>