h4{
    margin-left: 1%;
}
.right{
    float: right;
}
ion-input{
    border-bottom: 2px solid #e4dbdb;
}
ion-content{
    ion-grid{
        margin: 8px;
        ion-row{
            ion-col{
                ion-button{
                    --border-radius: 10px;
                    text-transform: none;
                }
                .titre{
                    margin-top: 10px;
                    font-weight: bold; 
                    font-size:25px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid #7070707a ;
                }
                h5{
                    margin-left: 8%;
                    color: black;
                    font-size: 15px;
                }
                .div{
                    font-size: 12px;
                    color:#b0aeae;
                    font-weight: bold;
                }
                .p{
                    font-size: 15px;
                    color: black;
                }
            }
        }
    }
}