<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="titre"> Payment Details </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding: 0px;">
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../assets/icon/Visa_Inc._logo.png" />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h5> 4 0 4 2 </h5>
              </ion-col>
              <ion-col>
                <h5> 3 5 3 6 </h5>
              </ion-col>
              <ion-col>
                <h5> 8 1 9 2 </h5>
              </ion-col>
              <ion-col>
                <h5> 8 9 9 0 </h5>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>CARD HOLDER</div>
              </ion-col>
              <ion-col>
                <div class="right">EXP DATE</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9">
                <div class="p">
                  Card Holder Name
                </div>
              </ion-col>
              <ion-col>
                <div class="right p">
                  DD/MM
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Card Number</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter card number"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>Card Holder</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="Enter card holder Name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <h4>Expiration Date</h4>
      </ion-col>
      <ion-col>
        <h4>CVV</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-input placeholder="DD/MM"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="Enter CVV"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="tertiary">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>