<ion-content scroll="false">

  <ion-grid class="ion-top">
    <ion-row class="ion-margin" sticky>
      <ion-col>
        <div class="entet">
          <img src="assets/icon/back.png">

          <ion-item lines="none">
            <ion-input></ion-input>
            <img slot="end" class="ion-float-right" src="assets/icon/searchc.png">
          </ion-item>

          <!-- <input type="text">
          <img class="ion-float-right" src="assets/icon/searchc.png"> -->
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="titre">
          <div> Store Name </div>
          <div>
            <img src="assets/icon/love.png">
            <div class="">
              <ion-badge mode="ios" slot="end" class="ion-float-right"> <small> 4.5 </small> <img
                  src="assets/icon/Star.png"> </ion-badge>
            </div>
          </div>

        </div>
      </ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col>
        <ion-label class="sous-titre"> Details of the store </ion-label>
      </ion-col>
    </ion-row>
    <div class="band">
      <p> Price List </p>
    </div>

    <div class="slide">

      <ion-chip color="" >
        <ion-label>Traditional</ion-label>
      </ion-chip>
      <ion-chip [routerLink]="['/store/']" fragment="top" >
        <ion-label  >tops</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Bottoms</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Outdoors</ion-label>
      </ion-chip>
      

    </div>

    <ion-row scrollY="true">
      <ion-col>

        <div class="detail">
          <div>
            <p class="titre" > Traditional </p>
            <div>
              <img id="img" src="assets/icon/option1.png">
              <img id="img" src="assets/icon/option2.png">
              <img id="img" src="assets/icon/option3.png">
            </div>
            <div> 
              <img [hidden]='true' src="assets/icon/go.png">
            </div>
          </div>
        </div>

        <div class="detail" *ngFor="let item of list">
          <div class="clonne">
            <p> {{item.nom}} </p>
            <div>
              <p> SR {{item.option1}} </p>
              <p> SR {{item.option2}} </p>
              <p> SR {{item.option3}} </p>
            </div>
            <div> <img src="assets/icon/go.png"> </div>
          </div>
        </div>
      </ion-col>
    </ion-row>


    
    <ion-row id="top" >
      <ion-col>

        <div class="detail">
          <div>
            <p class="titre" > Top </p>
            <div>
              <img id="img" src="assets/icon/option1.png">
              <img id="img" src="assets/icon/option2.png">
              <img id="img" src="assets/icon/option3.png">
            </div>
            <div> 
              <img [hidden]='true' src="assets/icon/go.png">
            </div>
          </div>
        </div>

        <div class="detail" *ngFor="let item of top">
          <div class="clonne">
            <p> {{item.nom}} </p>
            <div>
              <p> SR {{item.option1}} </p>
              <p> SR {{item.option2}} </p>
              <p> SR {{item.option3}} </p>
            </div>
            <div> <img src="assets/icon/go.png"> </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-button color="tertiary" (click)="presentModal()" > Skip Items Selection </ion-button>
  </ion-tab-bar>

</ion-tabs>
