ion-content{
    ion-grid{
        hr{
            background: #afafaf;
            height: 1px;
            margin: 0 19px 0 19px;
        }
        ion-row{
            ion-col{
                .entet{
                    display: flex;
                    justify-content: space-between;
                    margin: auto;
                    img{
                        height: 23px;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                    ion-item {
                        --padding-end: 0px;
                        --inner-padding-end: 0px;
                        // here other custom CSS from documentation
                      }
                    
                }
                .titre{
                    padding: 0 15px 0 15px ;
                    display: flex;
                    justify-content: space-between;
                    div{
                        font-family: LatoBlack;
                        display: flex;
                        img{
                            height: 20px;   
                            margin-right: 10px;
                        }
                        div{
                            ion-badge{
                                width: 39px;
                                margin: 1px 3px 5px 0px;
                                display: flex;
                                justify-content: space-between;
                                img{
                                    height: 10px;
                                    margin-left: 2px;
                                }
                                span{
                                    font-size: 11px;
                                    font-family: LatoMedium;
                                }
                            }
                        }
                    }
                    
                }
                .sous-titre{
                    font-family: LatoMedium;
                    color: #afafaf;
                    margin-left: 14px;
                }
                .option{
                    display: flex;
                    justify-content: space-around;
                    p{
                        font-family: LatoBold;
                        font-size: large;
                        margin-left: -12px;
                        margin-right: 10px;
                    }
                    div{
                        margin: auto 0;
                        img{
                            margin-right: 18px;
                        }
                    }
                }
                .detail{
                    font-family: LatoMedium;
                    color: #afafaf;
                    font-size: 12px;
                    margin-left: 10px;
                    .clonne{
                        border-bottom: 1.2pt solid #e0dfdf;
                        margin-left: 12 px;

                    }
                    div{
                        margin: auto 0;
                        display: flex;
                        justify-content: space-around;
                        p{
                            width: 40%;
                            margin-right: 24px;
                        }
                        #img{
                            height: fit-content;
                            margin-right: 18px;
                        }
                        .titre{
                            font-family: LatoBlack;
                            color: black;
                            font-size: 18px;
                            padding-left: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .band{
            font-family: LatoBlack;
            font-size: 20px;
            color: white;
            background: linear-gradient(to right, #1cc5ffe8, #126effb0);
            margin-left: -6px;
            width: 103%;
            height: 41px;
            padding-left: 23px;
            p{
                padding-top: 8px;
            }
        }
        .slide{
            margin-top: 15px;
            margin-left: 10px;
            overflow-x: scroll; 
            overflow-y: hidden; 
            display: flex ;
            ion-chip{
                height: 27px;
                width: 100px;
                min-width: 100px;
                white-space: nowrap;
                ion-label{
                    margin: auto;
                    color: white;
                }
            }
        }
    }
}
ion-tabs{
    height: 80px;
    position: relative;
    ion-tab-bar{
        height: 80px;
        ion-button{
            width: 80%;
            font-family: LatoBlack;
            text-transform: none;
            --border-radius: 10px;    

        }
  }
}

.modal-wrapper {
    --width: 60%;
    --height: 70%;
    --max-height: 70%;

  }
  

.my-custom-modal-css .modal-wrapper {
    --width: 60%;
    --height: 70%;
    --max-height: 70%;

 }