<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-padding-top">
        <h3> Welcome To Aamernni </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-start">
        <p class="ion-margin-start lang"> Choose Language </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-select value="en">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="it">Italic</ion-select-option>
          <ion-select-option value="ar">arabic</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col>
        <div class="hr"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-start">
        <p class="ion-margin-start country"> Choose Your Country </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" (click)="onClick(item.id)"
          *ngFor="let item of country " id={{item.id}} >
          <ion-label id="label{{item.id}}" > {{item.nom}} </ion-label>
          <img src="{{item.icon}}">
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <img src={{selected}} (click)="city()" >
  </ion-tab-bar>

</ion-tabs>