p{
    font-family: LatoBlack;
}
ion-grid{
    margin: 10px;
    ion-row{
        ion-col{
            .country{
                margin: 0px 16px;
                font-size: 16pt;
            }
            .lang{
                font-size: 16pt;
            }
            h3{
                text-align: center;
                font-family: LatoBlack;
                font-size: 24pt;
            }
            ion-select{
                    border: solid 0.08em #00C6FF;
                    border-radius: 8px;
                    box-shadow: 0 0 20px -10px #00C6FF;
                    width: 100%;
                    padding: 12px 15px;
                    justify-content: center;
            }
            .hr{
                width: 100%;
                height: 1px;
                background: #707070;
            }
                ion-item{
                    margin: 10px 0px;
                    border: solid 0.08em #00C6FF;
                    border-radius: 8px;
                    box-shadow: 0 0 8px -3px #00C6FF;
                    ion-label{
                        opacity: 0.5;
                        font-family: LatoMedium ;
                    }
                    img{
                        height: 30px;
                    }
                }
        }
    }
}
ion-tabs{
    height: 80px;
    position: relative;
    ion-tab-bar{
        height: 80px;
        img{
            height: 50px;
      
}
  }
}

    /* Set the text color */
    ion-select::part(text) {
        opacity: 0.6;
        font-family: LatoMedium;
        background-image : url('/assets/icon/select.png') ;
        background-position : right;
        background-repeat : no-repeat; 
    }

    /* Set the icon color and opacity */
    ion-select::part(icon) {
        display: none !important;

    }
.click{
    --ion-background-color: linear-gradient(to right, #1CC5FF  , #126EFF);
    font-family: LatoBlack !important;
    color: white;
    font-size: LatoBlack;
}
.label{
    opacity: 1 !important;
    font-family: LatoBlack;
}
