ion-content{
    font-family: LatoBlack;
    ion-grid{
        margin: 0 20px;
        ion-row{
            ion-col{
                
                ion-item{
                    --padding-start	: 0px !important;
                }
                .password-input{
                    font-size: 40px ;
                    --padding-bottom: 15px;
                    --padding-top: 0px;
                    margin-top: -22px ;
                }
                p{
                    font-family: LatoMedium;
                    font-size: 12px;
                    color: #ab8f8f;
                }
                div{
                    font-family: LatoMedium;
                    display: flex;
                    justify-content: center;
                    .reset{
                        margin-left: 10px;
                        color: black;
                    }
                    h4{
                        font-family: LatoBlack;
                    }
                    img{
                        height: 45px;
                        margin: auto;
                    }
                }
            }
        }
    }
}
ion-input {
    --padding-start: Opx;
    --padding-bottom: 15px;
    font-family: LatoMedium;
    font-size: 13px;
}
.password{
    font-size: 20px !important;
    margin-top: 0px !important;
}

