<ion-content>
  <ion-grid>
    <ion-row class="ion-margin ion-padding">
      <ion-col>
        <h2 class="ion-text-center"> Sign Up To Aamerni </h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label> First Name </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="User first name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label> Last Name </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="User last name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label> Email Address </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="xxxxxxx@gmail.com"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label> Mobile Number </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="User mobile number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label> Password</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-input class="password-input" id="password-input" [(ngModel)]="password" (ionChange)="mdp(0)"
            (mouseout)="mdp(1)" placeholder="........" type="password"></ion-input>
          <img src="/assets/icon/Icon-View.png">
        </ion-item>
        <p> (Minimum 8 characters) </p>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="tertiary" expand="block" mode="ios"> Create Account </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p> Already have an account ? </p>
          <p class="reset"> Sign in </p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>