<ion-content>
  <ion-grid>
    <div class="main">
      <ion-row>
        <ion-col>
          <center>
            <img src="../../assets/icon/Group 1123.png" class="img">
          </center>
        </ion-col>
      </ion-row>
    </div>

    <ion-row>
      <ion-col>
        <center>
          <h3 style="text-align: center; color: #aaaaaa;">Thank You!</h3>
        </center>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <center>
          <h3 style="text-align: center; color: #aaaaaa; font-size: 20px;">Your Order Placed Successfully</h3>
        </center>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>