h2{
    font-weight: bold;;
}
p{
    font-size: 16px;
    color: #ab8f8f;
}
ion-button{
    height: 45px;
    font-family: LatoBlack;
    font-size: 12px;
    --border-radius: 12px !important;


}

ion-content{
    font-family: LatoBlack;
    p{
    font-family: LatoMedium;

    }
}
img{
    width: 83%;
}
h2{
    margin-top: 2px;
    margin-bottom: 0px;
}
