<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-margin">
        <img class="ion-margin" src="../../assets/icon/notif.png">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">
        <h2 class="ion-no-padding"> Turn Notification On? </h2>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin">
      <ion-col class="ion-margin-horizontal">
        <p class="ion-padding-horizontal"> Keep updated on the status and
          the location of your order, while
          also being notified about all our
          offers, discounts and giveaways </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="tertiary" expand="block" size="large"  mode="ios"> Turn on</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p> Skip  </p>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>