/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: LatoBlack;
    src: url(./assets/font/Lato-Black.ttf);
  }

  @font-face {
    font-family: LatoMedium;
    src: url(./assets/font/Lato-Medium.ttf);
  }

  @font-face {
    font-family: LatoBold;
    src: url(./assets/font/Lato-Bold.ttf);
  }
  @font-face {
    font-family: LatoHeavy;
    src: url(./assets/font/Lato-Heavy.ttf);
  }
body{
  font-family: LatoBlack;
}
.action-sheet-one{
   .action-sheet-group {
    background-image: linear-gradient(to right, #1CC5FF, #126EFF 80%);
    --color: white;
    --button-color: black;
    height:155px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .action-sheet-title.sc-ion-action-sheet-md{
      text-align: center;
      font-weight: bold;
      padding-top: 60px;
  .action-sheet-sub-title.sc-ion-action-sheet-md{
    font-weight: normal;
    padding: 0px;
  }

    }
}
.action-sheet-group.sc-ion-action-sheet-md:last-child{
  height: 60px;
  border-radius: 0px;
  button{
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    height: 40px;
    font-weight: bold;
  }
}
}
.my-custom-modal-css .modal-wrapper {
  height: 445px;
  bottom: 0;
  position: absolute; 
  display: block;  
  border-radius: 30px 30px 00px 00px;
}

.my-custom-modal .modal-wrapper {
  height: 286px;
  bottom: 0;
  position: absolute; 
  display: block;  
  border-radius: 30px 30px 00px 00px;
}


.my-custom-modal-card .modal-wrapper {
  height: 500px;
  bottom: 0;
  position: absolute; 
  display: block;  
  border-radius: 30px 30px 00px 00px;
}

.my-custom-modal-order .modal-wrapper {
  --height: 344px;
  bottom: 0;
  position: absolute; 
  display: block;  
  border-radius: 30px 30px 00px 00px;
  background: transparent !important;
}

.my-custom-modal-deliver .modal-wrapper {
  --height: 234px;
  bottom: 0;
  position: absolute; 
  display: block;  
  border-radius: 30px 30px 00px 00px;
  background: transparent !important;
}

ion-modal {
  ion-backdrop {
    --backdrop-opacity: 0;
  }
}


