

<ion-content class="ion-padding" >
  <h3 class="ion-text-center" > Terms And Conditions </h3>

  <div>
    Welcome to www.lorem-ipsum.info. This site is
provided as a service to our visitors and may be
used for informational purposes only. Because
the Terms and Conditions contain legal obligations,
 please read them carefully.
  </div>
<div>
1. YOUR AGREEMENT<br />
By using this Site, you agree to be bound by, and
to comply with, these Terms and Conditions. If
you do not agree to these Terms and Conditions,
please do not use this site.
</div>
<div>
PLEASE NOTE: We reserve the right, at our sole
discretion, to change, modify or otherwise alter
these Terms and Conditions at any time. Unless
otherwise indicated, amendments will become
effective immediately. Please review these Terms
and Conditions periodically.
</div>
<div>

Your continued use of the Site following the posting
of changes and/or modifications will constitute
your acceptance of the revised Terms and Conditions
and the reasonableness of these standards for
notice of changes. For your information, this page
was last updated as of the date at the top of these
terms and conditions.
</div>
<div>
2. PRIVACY<br/>
Please review our Privacy Policy, which also governs
your visit to this Site, to understand our practices.
</div>
<div>

3. LINKED SITES<br />
This Site may contain links to other independent
third-party Web sites (“Linked Sites”). These Linked
Sites are provided solely as a convenience to our

  </div>

</ion-content>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-button color="tertiary"  > Confirm </ion-button>
  </ion-tab-bar>

</ion-tabs>