ion-content{
    h3{
        font-family: LatoBlack;
        margin: 30px 0px;
    }
    div{
        font-family: LatoMedium;
        padding: 5px;
        color: #777777;
        font-size: 12px;
    }
}
ion-tabs{
    height: 80px;
    position: relative;
    ion-tab-bar{
        height: 80px;
        ion-button{
            width: 80%;
            font-family: LatoBlack;
            text-transform: none;
            --border-radius: 10px;    

        }
  }
}