.modal{
    background: linear-gradient( to right , #1CC5FF , #1693FF);
    width: 100%;
    height: 100%;
    padding-top: 8px;
    position: relative;
    padding: 20px;
    .detail{
        margin-bottom: 22px;
        div{
            color: white;
            display: flex;
            justify-content: space-between;
            font-family: LatoMedium;
            margin-bottom: 3px;
        }
        .total{
            font-family: LatoBlack;
            div{
                font-family: LatoBlack;
            }
        }
        small{
            color: white;
            font-family: LatoMedium;
            margin-bottom: 15px;
        }
        hr{
            background: #8DDDFF;
            height: 1px;
        }
    }
    .btn{
        margin-top: 15px;
        font-family: LatoBlack;
        text-transform: none;
        --border-radius: 10px;
        height: 40px;
    }
}