<div class="modal">
  <div class="detail">
    <div>
      <ion-label> Subtotal </ion-label>
      <div> SR 00 </div>
    </div>
    <div>
      <ion-label> Delivery Fee </ion-label>
      <div> SR 00 </div>
    </div>
    <div>
      <ion-label> VAT </ion-label>
      <div> SR 00 </div>
    </div>
    <hr>
    <div class="total">
      <ion-label> Total Amount </ion-label>
      <div> SR 00 </div>
    </div>
    <small> Minimum order price </small>
  </div>

  <ion-button (click)="selectUser()" class="btn" expand="block" color="light">
    Deliver
  </ion-button> 

</div>